<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shy.bs.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.shy.bs.pojo.Order">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="customerId" column="customer_id" jdbcType="BIGINT"/>
        <result property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,customer_id,employee_id,
        total_price,status,create_time,
        pay_time,update_time,is_delete
    </sql>
    <select id="selectChartByDate" resultType="com.shy.bs.vo.EmpChart">
        select e.`name` name, SUM(total_price) value
        from `order`
            INNER JOIN employee e
        on `order`.employee_id = e.id
        where date_format(pay_time, '%Y-%m')=#{date}
        GROUP BY employee_id
    </select>
    <select id="selectYesterdayChart" resultType="com.shy.bs.vo.EmpChart">
        select e.`name`, SUM(total_price) value
        from `order`
            INNER JOIN employee e
        on `order`.employee_id = e.id
    <![CDATA[
        where TO_DAYS( NOW( ) ) - TO_DAYS(pay_time) < 2 and TO_DAYS( NOW( ) ) - TO_DAYS(pay_time) >= 1
    ]]>
    GROUP BY employee_id
    </select>
</mapper>
